*.ipch
*.sdf
*.opendb
*.db
*.user
*.log
*.tlog

*.exe
*.dll
*.bundle
*.dylib
*.so
*.unitypackage

*.fbx
*.obj

.vs/
_out/
_tmp/
_build_*/
external/
Library/
Temp/

NormalPainter/*.csproj
NormalPainter/*.sln
